<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <title>Friends</title>
</head>

<body>

  <div class="container col s10">
    <h1>Welcome {{user.alias}}</h1>
    <a href="/logout" class="float: right">Logout</a>

  </div>
  <div class="container">
    <h3>Here is a list of your friends </h3>
    <table>
      <thead>
        <tr>
          <th data-field="id">Alias</th>
          <th data-field="name">Action</th>
        </tr>
      </thead>
      <tbody>

        {% for friend in friends %}
        <tr>
          <td>{{friend.alias}}</td>
          <td><a href="/user/{{friend.id}}/select">View profile </a>|<a href="/user/{{friend.id}}/remove">Remove as Friend</a></td>
        </tr>
        {% endfor %}



      </tbody>

      <table>
        <thead>
          <tr>
            <th data-field="id">Alias</th>
            <th data-field="name">Action</th>
          </tr>
        </thead>
  <h5>Other user's not on your friends list:</h5>
        <tbody>
          {% for nonfriend in nonfriends %}
          <tr>
            <td>{{nonfriend.alias}}</td>
            <td><a href="/user/{{nonfriend.id}}/select">View profile </a>|<a href="/user/{{nonfriend.id}}">Add Friend</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</div>

</html>
