<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <title>{{user.alias}}</title>
</head>
<div class="container " class =>
    <a href="/friends">Home</a>
  <a href="/logout">Logout</a>

<body>
  <div class="container">
  <h2>{{user.alias}}'s' Profile</h2>
  <p>Name: {{user.name}} </p>
  <p>Email: {{ user.email}}</p>

  </div>



</body>

</html>
